
/* something */

html, body{
	max-width:100%;
    margin:auto;
   
  
}
    
body{
	font-family: helvetica,arial, sans-serif;
	background-color:white;
    background-image: url("images.png");
}
h1{
	font-weight: bold;
}
.clear{
	clear: both;
	display: block; 
}
.sub{
	text-decoration: line-through;
}
header{
	max-width:100%;
	height: 39px;
	background-color:lightgrey;
	border-bottom: 1px solid #ddd;
	line-height:48px;
	font-size: 20px;
  
}

#headerwrap{
	max-width:100%;
	margin:0 auto;
}
#note{
	float:left;
	background-color: none;
	color: #FFF;
	font-weight: bold;
	line-height: 10px;
	font-size: 10px;
	padding:10px;
	margin: 7px;
   
}
#newnote{
	text-decoration: none;
	float:right;
   background-color: steelblue;
    border-radius: 3px;
    color: #fff;
   
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 10px;
    margin-top: 8px;
    padding: 0 12px;
}
#newnote:hover{
	background-color:lightsteelblue;
}

#delall{
	text-decoration: none;
	float:right;
    background-color: #ff3c1f;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 10px;
    margin-top: 8px;
    padding: 0 12px;
}
#delall:hover{
	background-color: #ff6852;
}
#addnote:hover{
    border: 1px solid rgba(0, 0, 0, 0.3);
}
#addnote:active{
    border: 1px solid rgba(0, 0, 0, 0.6);
}
#addnote{
	background-color: #f5f5f5;
    background-image: -moz-linear-gradient(center top , #f5f5f5, #f1f1f1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    color: #444;
    border-radius: 2px;
    font-size: 11px;
    text-decoration: none;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0 none;
    padding: 0 8px;
    float: right;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}
#addnote:hover{
    border: 1px solid rgba(0, 0, 0, 0.3);
}
#addnote:active{
    border: 1px solid rgba(0, 0, 0, 0.6);
}
.widthlimit{
	max-width:100%;
}
   
#main{
	max-width: 100%;
	margin:0 auto;
	height: -moz-calc(100% - (48px));
    height: -webkit-calc(100% - (48px));
    height: calc(100% - (48px));
}
    
#taskcreator{
	max-width:100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color:#1b335b;
	margin: 5px auto;
	padding:10px;
	-moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08);
	box-shadow:inset 1px 1px 8px 1px #1b335b;
	display: none;


    }    
.taskinputs{
	max-width:100%;
	border:1 none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-weight: bold;
}
#taskcontainer{
    
    margin-top:43px;
}
h2,p{
  font-size:100%;
  font-weight:normal;
}
ul li h4{
     -webkit-text-stroke: 1px black;
    text-shadow:
    3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
    color: white;
    font-weight:bold;
}
ul,li{
  list-style:circle;
}
ul{
  overflow:hidden;
  height: inherit;
}
ul li {
  
  height:10em;
  width:17em;
 margin: 30px;
  background-color: yellowgreen;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60);
  padding:10px;
  overflow:auto;
    /* Firefox */
  -moz-box-shadow: 0px 2px 1px rgba(33,33,33,0.1);
  /* Safari+Chrome */
  -webkit-box-shadow: 0px 2px 1px rgba(33,33,33,0.1);
  /* Opera */
  box-shadow: 0px 2px 1px rgba(33,33,33,0.1);

}
ul li{
  margin:1em;
  float:left;
}
ul li h1{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
    /* WebKit (Safari/Chrome) Only */
  -webkit-text-stroke: 1px black;
  
  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */
  
  color: white;
  
  text-shadow:
    3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}
ul li a:hover,ul li a:focus{
  -moz-box-shadow: 0px 2px 1px rgba(0,0,0,.2);
  -webkit-box-shadow: 0px 2px 1px rgba(0,0,0,.2);
  box-shadow: 0px 2px 1px rgba(0,0,0,.2);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  position:relative;
  z-index:5;
}

 a{
    float:right;
    
    
    
    
}
